:root{
    --smc-blue: #013564;
    --smc-dark-blue: #143257;
    --smc-red: #D82732;
    --smc-light-blue: #D8E5F0;
    --smc-dark-gray:  #605F5F;
}

html body{
    margin-left: 0px;
    margin-top: 0px;
    overflow: hidden;
    font-family: "Bree Serif";
}

.login-screen{
    height: 100vh;
    width: 100vw;
}

.logo-div{
    text-align: center;
    margin-top: 2%;
}

.logo{
    height: 50px;
}

.login-title{
    margin-top: 2%;
    color: var(--smc-blue);
    text-align: center;
    font-size: 200%;
}

.login-form{
    width: 60vw;
    margin-top: 5%;
    margin-left: 20vw;
    margin-right: 20vw;
    border-style: double;
    border-color: var(--smc-dark-gray);
    text-align: center;
}

.login-table{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.table-text{
    color: var(--smc-blue);
    text-align: center;
    column-rule-width: 30%;
}

.table-text-entry{
    column-rule-width: 70%;
}

.table-row{
    padding: 15vh;
}

.text-entry{
    border-color: var(--smc-blue);
    width: 90%;
    color: var(--smc-red);
}

.submit-button{
    background-color: var(--smc-red);
    color: white;
    border-radius: 50px;
    margin-top: 3%;
    margin-bottom: 3%;
}

