:root{
    --smc-blue: #013564;
    --smc-dark-blue: #143257;
    --smc-red: #D82732;
    --smc-light-blue: #D8E5F0;
    --smc-dark-gray:  #605F5F;
}

html body{
    margin-left: 0px;
    margin-top: 0px;
    overflow: hidden;
    font-family: "Bree Serif";
}

.login-screen{
    height: 100vh;
    width: 100vw;
}

.logo-div{
    text-align: center;
    margin-top: 2%;
}

.logo{
    height: 50px;
}

.login-title{
    margin-top: 2%;
    color: var(--smc-blue);
    text-align: center;
    font-size: 200%;
}